<div class="mf-modal-backdrop mf-error-modal">
    <div class="mf-modal-backdrop-content">
        <div class="mf-modal" tabindex="-1">
            <div class="mf-modal-content">
                <i class="mf-icon mf-icon-error"></i>
                <p class="mf-info-paragraph mf-error">
                    <span class="mf-text-line">Something went wrong.</span>
                    <span class="mf-text-line"> Please try to refresh this page.</span>
                </p>
                <input type="button" class="mf-js-close-modal mf-btn mf-action" value="OK" />
            </div>
        </div>
    </div>
</div>
