<div class="mf-modal-backdrop mf-success-modal">
    <div class="mf-modal-backdrop-content">
        <div class="mf-modal" tabindex="-1">
            <div class="mf-modal-content">
                <i class="mf-icon mf-icon-tick"></i>
                <h6>Success!</h6>
                <p class="mf-info-paragraph">Your smartphone has been paired with this WordPress account.</p>
                <button class="mf-js-success-modal-continue mf-btn mf-action">
                    <span>Continue</span>
                    {% include 'spinner-light.html.twig' %}
                </button>
            </div>
        </div>
    </div>
</div>
