<div class="mf-sk-circle mf-loading mf-light">
    <div class="mf-sk-circle1 mf-sk-child"></div>
    <div class="mf-sk-circle2 mf-sk-child"></div>
    <div class="mf-sk-circle3 mf-sk-child"></div>
    <div class="mf-sk-circle4 mf-sk-child"></div>
    <div class="mf-sk-circle5 mf-sk-child"></div>
    <div class="mf-sk-circle6 mf-sk-child"></div>
    <div class="mf-sk-circle7 mf-sk-child"></div>
    <div class="mf-sk-circle8 mf-sk-child"></div>
    <div class="mf-sk-circle9 mf-sk-child"></div>
    <div class="mf-sk-circle10 mf-sk-child"></div>
    <div class="mf-sk-circle11 mf-sk-child"></div>
    <div class="mf-sk-circle12 mf-sk-child"></div>
</div>
