{% extends "dashboard/base.html.twig" %}

{% block page %}
    <h1 class="mf-hide"></h1>
    <h2 class="mf-hide"></h2>
    <div class="mf-notification-margin"></div>

    <h2>Not found</h2>
{% endblock %}
