<div class="notice notice-info is-dismissible mf-review-notice">
    <p>If you like Magic Password, please give us a positive feedback <a href="https://wordpress.org/support/plugin/magic-password/reviews/" target="_blank">here</a>.</p>
    <input type="hidden" value="{{ wp_create_nonce('close-review-notice') }}" />
</div>
