<div class="mf-toast">
    <div class="mf-toast-tick-wrapper">
        <div class="mf-toast-tick">
            <span class="dashicons dashicons-yes"></span>
        </div>
    </div>
    <div class="mf-toast-message-wrapper">
        <p class="mf-toast-message"></p>
        <a href="#" class="mf-undo">Undo</a>
    </div>
    <div class="mf-toast-btn-wrapper">
        <button class="mf-toast-close-btn mf-js-close-toast"><span class="dashicons dashicons-no-alt"></span></button>
    </div>
    <div class="mf-clear-fix"></div>
</div>